@media (max-width: 700px) {
    .logo-header{
        height: 50px;
        margin-left: 15px;
        margin-right: 15px; 
        transition: all 0.8 ease-in-out;  
    }
    .input-pesquisa{
        border-radius: 8px;
        padding: 8px 8px;
        width: 100%;
        border: 0;
    }
    .pesquisa{
        width: 65%!important;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
        
    }
    .nav-list   {
        font-size: 13px;
       
    }
    .adapte{
        width: 10px;
      }
      .contmain{
        width: 100%;
        padding: 1vh 0;
        margin-top: 2vh;
        display:flex;
        height: 100%;
        flex-direction: column;
    }
      .container-categoria{
        width: 100%;
        height: 90%;
        padding: 1vh 0; 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .main-index{
        height: 180vh;
    }
    .div-img-info img{
    width: 30px;
    height: 30px;
    }
    .aling-center-info h3{
        text-align: center;
        font-size: 10px;
    }
    .titulo-secao{
    }
      .categoria{
        margin-top: 10px;
        width: 300px;
        min-height: 250px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }
    
    .pesquisa .material-icons{
        display: inline-block;
        position: absolute;
        z-index: 999;
        color: black;
        right: -15px; 
    }
    .carrinho img{
        width: 30px;
        height: 30px;
        margin-right: 30px;
        cursor: pointer;
    }
    
    .carrosel{
        width: 100%;
        height: 70%;
        margin-top: 21vh;
    }
    .carrosel-container{
        height: 100%;
    }
    .img-slide-carrosel{
        width: 90%;
    }
    .container-categoria{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .informativo{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aling-center-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-size: 10px;
    }
    .container-form h2{
        font-size: 26px;
    }
    .m-4{
        font-size: 11px;
    }
    .input-form{
        font-size: 16px;
        padding: 15px 25px;
        width: 60vw;
        margin-top: 1.5rem!important;
        appearance: none;
        color: #000;
        fill: #000;
        border-radius: 8px;
    }   
    .swiper-slide {
        max-height: 300px ;
      }
      .descricao-produto .nome{
        font-size: 8px;
      }
      .swiper-slide .img-produto {
        display: block;
        width: 100%;
        height: 65%;
        object-fit: cover;
    }
    
    
}