
/* Principal */

.carrosel{
    width: 100%;
    height: 70vh;
    margin-top: 21vh;
}
.carrosel-container{
    height: 100%;
}

.img-slide-carrosel{
    width: 100%;
    height: 100%;
}
main {
    height: 80vh;   
}

.contmain{
    width: 100%;
    height: 70vh;
    margin-top: 2vh;
    display:flex;
    flex-direction: column;
    margin-top: 5vh;
}
.titulo-container-categoria{
    font-size: 30px;
    text-align: center;
    margin: 3vh;
   
}
.container-categoria{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.categoria{
    margin-top: 10px;
    width: 30%;
    height: 85%;
    background-position: center ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.categoria:hover{
    background-size: 105%;
    
}
.overlay-categoria{
    width: 100%;
    height: 100%;
    background-color: #ffdddd(0, 0, 0, 0.102);
    display: flex;
    flex-direction: column-reverse;
    transition: all 0.8s ease-in-out;
}
.overlay-categoria:hover{
    background-color: #ffdddd(0, 0, 0, 0);
}
.titulo-categoria{
    width: 94%;
    height: 20%;
    background-color: rgba(185, 185, 185, 0.486);
    padding: 3% 3%;
    font-family: montserrat,Sans-serif;
    font-style: normal;
}
.titulo-categoria p{
    display: block;
    margin-bottom: 5%;
    font-size: 20px;

}
.false-button-categoria{
    padding: 3px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.682);
}
.street{
    background: purple url("../img/streetwear.jpg") center center/cover no-repeat;
    
}
.street2{
    background: purple url("../img/street2.jpg") center center/cover no-repeat;
}
.vintage{
    background: purple url("../img/vintage.jpg") center center/cover no-repeat;
}
.contmain h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 30px;
    font-size: 1.8em;
}

/* ---------------------------------------------------- */

.banner-informativo{
    width: 100%;
    height: 20vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: row;
    color: #000;
}
.informativo{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.aling-center-info{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 13px;
}

  /* ---------------------------------------------------- */


.secao-maisVendidos{
    width: 100%;
    height: 80vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.titulo-secao{
    text-align: center;
    font-size: 28px;
    padding: 15px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .swiper-slide .img-produto {
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
.container-produtos{
    width: 100%;
    max-width: 90vw;
    height: 70%;
    overflow: hidden;
  }

  
  .descricao-produto{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;

  }
  .produto{
    margin-left: 10px;
  }
  .descricao-produto .nome{
    text-transform: uppercase;
    font-size: 13px;
    text-align: start;
    margin-top: 10px;
  }
  .valor{
    font-size: bold 16px;
    font-family:sans-serif;
  }
  .descricao-produto .btn{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #a45858;
    letter-spacing: 0.8px;
    cursor: pointer;
    background-color: #ffffff;
    
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next{
    color: #ffdddd;
    
  }

 


  .form-footer{
    width: 100%;
    height: 40vh;
    background-color: #a45858;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    border-top: 1px solid rgb(255, 255, 255);
}
.container-form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container-form h2{
    font-size: 32px;
}
.m-4{
    margin-bottom: 1.5rem!important;
    color: #fff;
    font-size: 13px;
}

.input-form{
    font-size: 16px;
    padding: 15px 25px;
    width: 40vw;
    margin-top: 1.5rem!important;
    appearance: none;
    color: #a45858;
    fill: #ffdddd;
    border-radius: 8px;
}

  /* ---------------------------------------------------- */



.banner-instagram{
    width: 100%;
    height: 30vh;
    background-color: #f0f0f0;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffdddd;
}
.cont-insta{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 1rem;
}
.nome-insta{
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    letter-spacing: 1px;

}
.btn-insta{
    width: fit-content;
    text-transform: uppercase;
    padding: 4px 20px;
    border: 1px solid #a45858 ;
    border-radius: 50px;
    font: bold 13px;
    cursor: pointer;
}



